<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RL_MapLoader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RL_MapLoader.My.MySettings>
            <setting name="rlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="lastAdress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastProcess" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>0.6.0</value>
            </setting>
            <setting name="firstLoad" serializeAs="String">
                <value>True</value>
            </setting>
        </RL_MapLoader.My.MySettings>
    </userSettings>
</configuration>